@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

/* Common */
* {
  box-sizing: border-box;
}

.page {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  background-color: #ffffff;
  color: #444444;
  height: 100%;
}

.body {
  padding: 0;
  margin: 0 auto;
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1440px;
  min-height: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.page-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-width: 0;
  z-index: 2;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: auto;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  background-color: transparent;
  color: #000000;
}

.button::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  transform: translateY(-50%);
  background-color: #ffe17f;
  content: "";
  z-index: -1;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 535px;
  padding-top: 47px;
  margin-bottom: 70px;
}

.section::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
  content: "";
}

.section-title {
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.section-text {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.common-title {
  padding: 0;
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/* PAGE HEADER */

.page-header {
  position: relative;
  margin: 0 auto;
  width: 1040px;
  min-height: 175px;
  display: grid;
  row-gap: 30px;
  color: #000000;
}

.user-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.site-search {
  display: flex;
  width: 517px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
}

.search-input {
  position: relative;
  flex-grow: 1;
  padding-left: 48px;
  padding-right: 10px;
  border: 2px solid #000000;
  border-right-width: 0;
  border-radius: 50px 0 0 50px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  min-height: 40px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.user-section-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  min-height: 40px;
  margin-left: 26px;
  padding-left: 22px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.login {
  padding-left: 27px;
  margin-right: auto;
}

.logout {
  padding: 0;
  opacity: 0.3;
}

/* Navigation */

.page-navigation {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: normal;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.dropdown-button {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 50px;
  padding-right: 60px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}

.sub-catalog {
  display: none;
}

.header-services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 643px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-left: auto;
}

.service-link {
  text-decoration: none;
  line-height: 50px;
  margin-left: 45px;
  color: inherit;
}

/* Pomo Slider */

.promo {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.promo-slider-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider-item {
  display: none;
}

.slider-item.active {
  display: grid;
  width: 100%;
  grid-template-columns: 560px 1fr;
}

.slider-info {
  position: relative;
  padding: 123px 0 38px 40px;
  display: flex;
  width: 600px;
  flex-direction: column;
  justify-content: start;
}

.slide-number {
  position: absolute;
  top: 31px;
  right: 49px;
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.slide-slogan {
  padding: 0;
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  width: 560px;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 29px;
}

.slide-description {
  margin-bottom: 51px;
}

.slide-more-button {
  width: 220px;
  min-height: 40px;
  margin-bottom: 49px;
}

.slide-features {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  column-gap: 20px;
  row-gap: 15px;
}

.slide-feature-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.feature-name {
  font-size: 16px;
  order: 2;
}

.feature-value {
  margin: 0;
  font-size: 36px;
  align-self: start;
  color: #000000;
  margin-bottom: 12px;
  order: 1;
}


.promo-slider-control {
  position: absolute;
  top: 211px;
  left: 30px;
  display: flex;
  justify-content: space-between;
  width: 530px;
}


.slider-previous-button,
.slider-next-button {
  width: 20px;
  height: 60px;
  background-color: transparent;
  background-image: url("../img/slider-arrow.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.slider-next-button {
  transform: rotate(180deg);
}

.slider-bullets {
  position: absolute;
  top: 377px;
  right: 0;
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bullet-item {
  margin-left: 20px;
}

.bullet {
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #000000;
  cursor: pointer;
}

.bullet.active {
  background-color: #000000;
}

/* Categories */

.categories {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
  row-gap: 30px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.category-link {
  position: relative;
  display: block;
  width: 100%;
  min-height: 253px;
  padding-top: 192px;
  padding-bottom: 16px;
  text-decoration: none;
  text-align: left;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  cursor: pointer;
}

.category-link::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.category-item:nth-child(1) .category-link::before {
  background-image: url("../img/categories/virtual-reality.svg");
}

.category-item:nth-child(2) .category-link::before {
  background-image: url("../img/categories/monopode.svg");
}

.category-item:nth-child(3) .category-link::before {
  background-image: url("../img/categories/action-camera.svg");
}

.category-item:nth-child(4) .category-link::before {
  background-image: url("../img/categories/fitness-tracker.svg");
}

.category-item:nth-child(5) .category-link::before {
  background-image: url("../img/categories/digital-watch.svg");
}

.category-item:nth-child(6) .category-link::before {
  background-image: url("../img/categories/copter.svg");
}


/* Services */

.services {
  width: 100%;
  min-height: 391px;
  background-image: linear-gradient(to bottom, transparent 102px, #f0f0f0 102px);
  margin-bottom: 70px;
}

.services-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.services-list {
  display: flex;
  align-items: center;
  padding: 62px 28px 62px 116px;
  margin: 0;
  list-style-type: none;
  order: 2;
  flex-grow: 1;
}

.service-item {
  display: none;
}

.service-item.active {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 729px;
  min-height: 195px;
  padding-right: 250px;
  background-position: center right;
  background-repeat: no-repeat;
}

.service-item:nth-child(1) {
  background-image: url("../img/delivery.svg");
}

.service-item:nth-child(2) {
  background-image: url("../img/warrant.svg");
}

.service-item:nth-child(3) {
  background-image: url("../img/lend.svg");
}

.service-title {
  margin-bottom: 34px;
}

.service-description {
  padding: 0;
  margin: 0;
}

.services-controls {
  width: 287px;
  padding: 65px 0;
  margin: 0;
  list-style-type: none;
  order: 1;
  display: flex;
  flex-direction: column;
  border-right: 7px solid #000000;
}

.services-control-item:not(:last-child) {
  margin-bottom: 35px;
}

.services-control-button {
  width: 160px;
  min-height: 40px;
}

.services-control-item.active {
  background-color: #000000;
}

.services-control-item.active > button {
  color: #ffe17f;
}

.services-control-item.active > button::after {
  display: none;
}

.special-delivery-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1160px;
  min-height: 100px;
  margin: 0 auto 70px;
  border: none;
  padding: 0 125px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: normal;
  color: #000000;
  background-color: #f0f0f0;
}

.special-delivery-button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  content: "";
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/express-delivery.svg");
}


.special-delivery-button::after {
  position: absolute;
  top: 50%;
  right: 42.5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  transform: translateY(-50%);
  background-color: #dcdcdc;
  content: "i";
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.3);
  font-family: "Rubik", "Arial", sans-serif;
  line-height: 40px;
  font-weight: 400;
  cursor: pointer;
}


/* About */

.about {
  margin-right: 90px;
  padding-right: 38px;
}

.about-button {
  width: 270px;
  height: 40px;
}

.delivery-companies-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 30px;
}

.delivery-company-item {
  position: relative;
  padding-left: 26px;
}

.delivery-company-item::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
  content: "";
}

.delivery-company-item:not(:last-child) {
  margin-bottom: 19px;
}

/* Contacts */

.contacts {
  padding-right: 19px;
}

.contacts-button {
  width: 259px;
  height: 40px;
}

.sub-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  text-decoration: underline;
}

.contacts-timetable {
  list-style-type: none;
}


/* Subscribe */

.subscribe {
  display: grid;
  grid-template-columns: 141px 600px 212px 348px 141px;
  row-gap: 140px;
  width: 100%;
  min-height: 421px;
  padding: 64px 0 56px;
  background-color: #f0f0f0;
}

.subscribe-title {
  grid-column: 2 / 3;
}

.subscribe-text {
  grid-column: 3 / 5;
}

.subscribe-form {
  display: flex;
  width: 810px;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.subscribe-input {
  flex-grow: 1;
  padding: 0 16px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #cecece;
  color: rgba(68, 68, 68, 0.5);
}

.subscribe-button {
  width: 253px;
  min-height: 57px;
  border: 3px solid #cecece;
}

.subscribe-button::after {
  display: none;
}

.subscribe-assurance {
  position: relative;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  justify-self: end;
  align-self: center;
}

.subscribe-assurance svg {
  position: absolute;
  top: 50%;
  left: -32px;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  fill: #08af00;
}

/* Footer */


.page-footer {
  display: grid;
  grid-template-columns: 140px 351px 444px 365px 140px;
  width: 100%;
  padding: 62px 0 61px;
  background-color: #444444;
  color: #ffffff;
}

.footer-logo {
  grid-column: 2 / 3;
  width: 145px;
  height: 36px;
  margin-bottom: 35px;
  fill: #ffc700;
}

.footer-address {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 62px;
}

.footer-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 33px;
  row-gap: 15px;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  align-self: center;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  margin-bottom: 62px;
}

.footer-service-link {
  font-family: "Raleway", "Arial", sans-serif;
  line-height: auto;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  align-self: center;
}

.footer-socials {
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template-columns: repeat(auto-fit, 40px);
  column-gap: 15px;
  row-gap: 10px;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  min-width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-phone {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  justify-self: end;
  font-size: 16px;
  line-height: 20px;
  align-self: center;
  margin-bottom: 62px;
}

.htmlacademy-link {
  position: relative;
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  justify-self: end;
  display: flex;
  align-items: center;
}

.htmlacademy-logo {
  width: 115px;
  height: 33px;
  fill: #ffc700;
}

.htmlacademy-link::before {
  position: absolute;
  top: 50%;
  left: -1045px;
  transform: translateY(-50%);
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  content: "";
}

/* Catalog header */
.catalog-header {
  margin-bottom: 35px;
}

.catalog-title {
  margin: 0 auto 16px;
  padding: 0;
  width: 1040px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 35px;
  padding: 0;
  width: 1040px;
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 36px;
}

.breadcrumbs-link {
  position: relative;
  font-size: 16px;
  line-height: normal;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-item:not(:last-child) a::after {
  position: absolute;
  top: 50%;
  right: -20px;
  display: block;
  width: 4px;
  height: 7px;
  transform: translateY(-50%);
  background-image: url("../img/catalog/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  content: "";
}


/* Catalog header */

.catalog-container {
  display: grid;
  grid-template-columns: 1fr 320px 840px 1fr;
  width: 100%;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.catalog-container-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
}


/* Catalog filter */

.catalog-filter {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 100%;
  padding: 25px 40px 25px 60px;
}

.filter-title {
  font-size: 16px;
  line-height: normal;
  margin-bottom: 60px;
}

.filter-block {
  border: none;
  border-top: 2px solid #000000;
}

/* Catalog sorting */

.catalog-sorting {
  grid-column: 3 / 4;
  display: flex;
  width: 100%;
  min-height: 70px;
}


/* Catalog list */

.products {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  width: 100%;
  padding: 70px 40px 44px 40px;
  background-color: #ffffff;
}

.products-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
  width: 100%;
}

.product-link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  line-height: 20px;
}

.product-image-mask {
  display: none;
}

.product-link:hover .product-button {
  width: 240px;
  min-height: 40px;
}

.product-link:hover .product-image-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
  border: 1px solid #000000;
}

.product-title {
  width: 226px;
  font: inherit;
  font-weight: 700;
  color: #000000;
}

.product-price {
  font: inherit;
  color: #444444;
}

/* Pagination */

.pagination {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  width: 100%;
  padding: 0 40px 78px;
  background-color: #ffffff;
}

.load-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 55px;
  margin-bottom: 44px;
  background-color: transparent;
  border: 3px solid #e5e5e5;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-controls {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  column-gap: 70px;
  width: 100%;
  min-height: 71px;
  background-color: #ebebeb;
}

.pagination-pages {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.3);
}

.pagination-previous,
.pagination-next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 71px;
  border: none;
  background-color: transparent;
}

.pagination-next {
  grid-column: 3 / 4;
}
