@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

/* Common */
* {
  box-sizing: border-box;
}

.page {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  background-color: #ffffff;
  color: #444444;
  height: 100%;
}

.body {
  padding: 0;
  margin: 0 auto;
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1440px;
  min-height: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.page-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-width: 0;
  z-index: 2;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: auto;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
}

.button::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  transform: translateY(-50%);
  background-color: #ffe17f;
  content: "";
  z-index: -1;
}

.button:hover {
  background-color: #ffe17f;
}

.button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button:active {
  background-color: #ffc700;
  outline: none;
}

.button:active::after {
  display: none;
}

.button:disabled {
  opacity: 0.3;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 535px;
  padding-top: 47px;
  margin-bottom: 70px;
}

.section::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
  content: "";
}

.section-title {
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.section-text {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.common-title {
  padding: 0;
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/* PAGE HEADER */

.page-header {
  position: relative;
  margin: 0 auto;
  width: 1040px;
  min-height: 175px;
  display: grid;
  row-gap: 30px;
  color: #000000;
}

.page-header::after {
  position: absolute;
  top: 27px;
  left: -60px;
  width: 1160px;
  height: 300px;
  background-color: #ffe17f;
  z-index: -1;
  content: "";
}

.page-header-logo {
  justify-self: start;
}

.page-header-logo:hover {
  opacity: 0.6;
}

.page-header-logo:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.page-header-logo:active {
  opacity: 0.3;
  outline: none;
}

.catalog-header {
  margin-bottom: 58px;
}

.catalog-header::after {
  height: 186px;
}

.user-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.site-search {
  position: relative;
  display: flex;
  width: 517px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
}

.search-input {
  position: relative;
  flex-grow: 1;
  padding-left: 48px;
  padding-right: 10px;
  border: 2px solid #000000;
  border-right-width: 0;
  border-radius: 50px 0 0 50px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: top 50% left 16px;
}

.search-input:disabled,
.search-button:disabled {
  opacity: 0.3;
}

.search-input:focus,
.search-button:focus {
  outline: none;
}

.search-input:focus + .search-label {
  position: absolute;
  top: 50%;
  left: -4px;
  transform: translateY(-50%);
  width: 367px;
  height: 48px;
  border: 2px solid #af4fff;
  content: "";
}

.search-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  min-height: 40px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:focus {
  outline: none;
}

.search-button:focus::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border: 2px solid #af4fff;
  content: "";
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-section-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  min-height: 40px;
  margin-left: 26px;
  padding-left: 22px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top 50% left 0;
  cursor: pointer;
}

.user-section-button:hover {
  opacity: 0.6;
}

.user-section-button:focus {
  outline: 2px solid #af4fff;
}

.user-section-button:active {
  opacity: 0.3;
  outline: none;
}


.login {
  padding-left: 27px;
  margin-right: auto;
  background-image: url("../img/user.svg");
}

.logout {
  padding: 0;
  opacity: 0.3;
}

.compare-button {
  background-image: url("../img/comparison.svg");
}

.cart-button {
  padding-left: 40px;
  margin-left: 8px;
  border: none;
  background-image: url("../img/cart.svg");
  background-position: top 50% left 18px;
}

.cart-count {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 21px;
  min-height: 21px;
  transform: translateY(-50%);
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 14px;
  line-height: normal;
}

/* Navigation */

.page-navigation {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: normal;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.dropdown-button {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 50px;
  padding-right: 60px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  cursor: pointer;
}

.dropdown-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.dropdown-icon::before,
.dropdown-icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.sub-catalog {
  display: none;
}

.dropdown-icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.dropdown-button.active .dropdown-icon::after {
  display: none;
}

.dropdown-button.active + .sub-catalog {
  position: absolute;
  top: calc(100% + 2px);
  left: -60px;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  row-gap: 20px;
  column-gap: 60px;
  width: 1160px;
  min-height: 180px;
  margin: 0;
  padding: 14px 60px 60px;
  list-style-type: none;
  background-color: #ffe17f;
}

.sub-catalog-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  text-align: left;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: lowercase;
  color: inherit;
  letter-spacing: normal;
}

.sub-catalog-link::first-letter {
  text-transform: uppercase;
}

.sub-catalog-column-1 {
  grid-column: 1 / 2;
}

.sub-catalog-column-2 {
  grid-column: 2 / 3;
}

.sub-catalog-column-3 {
  grid-column: 3 / 4;
}

.sub-catalog-row-1 {
  grid-row: 1 / 2;
}

.sub-catalog-row-2 {
  grid-row: 2 / 3;
}

.sub-catalog-row-3 {
  grid-row: 3 / 4;
}

.dropdown-button:hover .dropdown-icon,
.dropdown-button:active .dropdown-icon {
  border-color: #000000;
}

.dropdown-button:hover .dropdown-icon::before,
.dropdown-button:hover .dropdown-icon::after,
.dropdown-button:active .dropdown-icon::before,
.dropdown-button:active .dropdown-icon::after {
  background-color: #000000;
}

.dropdown-button:focus {
  outline: 2px solid #af4fff;
}

.header-services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 643px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-left: auto;
}

.service-link {
  position: relative;
  text-decoration: none;
  line-height: 50px;
  margin-left: 45px;
  color: inherit;
}

.service-link.active::after,
.sub-catalog-link.active::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  content: "";
}

.sub-catalog-link.active::after {
  height: 1px;
  bottom: -3px;
}

.service-link.active {
  border: 6px solid transparent;
}

.sub-catalog-link.active {
  border: 5px solid transparent;
}

.service-link:hover,
.sub-catalog-link:hover {
  opacity: 0.6;
}

.service-link:focus,
.sub-catalog-link:focus {
  outline: 2px solid #af4fff;
}

.service-link:active,
.sub-catalog-link:active {
  opacity: 0.3;
  outline: none;
}

/* Pomo Slider */

.promo {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.promo-slider-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider-item {
  display: none;
}

.slider-item.active {
  display: grid;
  width: 100%;
  grid-template-columns: 560px 1fr;
}

.slider-info {
  position: relative;
  padding: 115px 0 38px 40px;
  display: flex;
  width: 600px;
  flex-direction: column;
  justify-content: start;
}

.slide-number {
  position: absolute;
  top: 12px;
  right: 49px;
  min-height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  z-index: -1;
}

.slide-slogan {
  padding: 0;
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  width: 560px;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 29px;
}

.slide-description {
  margin-bottom: 51px;
}

.slide-more-button {
  width: 220px;
  min-height: 40px;
  margin-bottom: 49px;
}

.slide-features {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  column-gap: 20px;
  row-gap: 15px;
}

.slide-feature-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.feature-name {
  font-size: 16px;
  order: 2;
}

.feature-value {
  margin: 0;
  font-size: 36px;
  align-self: start;
  color: #000000;
  margin-bottom: 12px;
  order: 1;
}


.promo-slider-control {
  position: absolute;
  top: 211px;
  left: 30px;
  display: flex;
  justify-content: space-between;
  width: 530px;
}


.slider-previous-button,
.slider-next-button {
  width: 20px;
  height: 60px;
  background-color: transparent;
  background-image: url("../img/slider-arrow.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.slider-next-button {
  transform: rotate(180deg);
}

.slider-bullets {
  position: absolute;
  top: 377px;
  right: 0;
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bullet-item {
  margin-left: 20px;
}

.bullet {
  position: relative;
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #000000;
  cursor: pointer;
}

.bullet.active {
  background-color: #000000;
}

.slider-previous-button:hover,
.slider-next-button:hover,
.bullet:hover {
  opacity: 0.6;
}

.slider-previous-button:focus,
.slider-next-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.bullet:focus::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  transform: translate(-50%, -50%);
  border: 2px solid #af4fff;
  content: "";
}

.slider-previous-button:active,
.slider-next-button:active,
.bullet:active {
  opacity: 0.3;
  outline: none;
}

/* Categories */

.categories {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
  row-gap: 30px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.category-link {
  position: relative;
  display: block;
  width: 100%;
  min-height: 253px;
  padding-top: 192px;
  padding-bottom: 16px;
  text-decoration: none;
  text-align: left;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  cursor: pointer;
}

.category-link::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.category-item:nth-child(1) .category-link::before {
  background-image: url("../img/categories/virtual-reality.svg");
}

.category-item:nth-child(2) .category-link::before {
  background-image: url("../img/categories/monopode.svg");
}

.category-item:nth-child(3) .category-link::before {
  background-image: url("../img/categories/action-camera.svg");
}

.category-item:nth-child(4) .category-link::before {
  background-image: url("../img/categories/fitness-tracker.svg");
}

.category-item:nth-child(5) .category-link::before {
  background-image: url("../img/categories/digital-watch.svg");
}

.category-item:nth-child(6) .category-link::before {
  background-image: url("../img/categories/copter.svg");
}

.category-link:hover::before {
  background-color: #ffc700;
}

.category-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.category-link:active {
  opacity: 0.3;
  outline: none;
}


/* Services */

.services {
  width: 100%;
  min-height: 391px;
  background-image: linear-gradient(to bottom, transparent 102px, #f0f0f0 102px);
  margin-bottom: 70px;
}

.services-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.services-list {
  display: flex;
  align-items: center;
  padding: 62px 28px 62px 116px;
  margin: 0;
  list-style-type: none;
  order: 2;
  flex-grow: 1;
}

.service-item {
  display: none;
}

.service-item.active {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 729px;
  min-height: 195px;
  padding-right: 250px;
  background-position: center right;
  background-repeat: no-repeat;
}

.service-item:nth-child(1) {
  background-image: url("../img/delivery.svg");
}

.service-item:nth-child(2) {
  background-image: url("../img/warrant.svg");
}

.service-item:nth-child(3) {
  background-image: url("../img/lend.svg");
}

.service-title {
  margin-bottom: 34px;
}

.service-description {
  padding: 0;
  margin: 0;
}

.services-controls {
  width: 287px;
  padding: 65px 0;
  margin: 0;
  list-style-type: none;
  order: 1;
  display: flex;
  flex-direction: column;
  border-right: 7px solid #000000;
}

.services-control-item:not(:last-child) {
  margin-bottom: 35px;
}

.services-control-button {
  width: 160px;
  min-height: 40px;
}

.services-control-item.active {
  background-color: #000000;
}

.services-control-item.active .services-control-button {
  width: 100%;
  padding-left: 20px;
  justify-content: start;
}

.services-control-item.active > button {
  color: #ffe17f;
}

.services-control-item.active > button::after {
  display: none;
}

.services-control-item.active .services-control-button:hover {
  background-color: #000000;
  color: rgba(255, 255, 127, 0.5);
}

.services-control-item.active .services-control-button:focus {
  background-color: #000000;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.services-control-item.active .services-control-button:active {
  background-color: #000000;
  color: rgba(255, 255, 127, 0.3);
  outline: none;
}

.special-delivery-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1160px;
  min-height: 100px;
  margin: 0 auto 70px;
  border: none;
  padding: 0 125px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: normal;
  color: #000000;
  background-color: #f0f0f0;
}

.special-delivery-button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  content: "";
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/express-delivery.svg");
}


.special-delivery-button::after {
  position: absolute;
  top: 50%;
  right: 42.5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  transform: translateY(-50%);
  background-color: rgba(220, 220, 220, 0.5);
  content: "i";
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.3);
  font-family: "Rubik", "Arial", sans-serif;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: normal;
  cursor: pointer;
}

.special-delivery-button:hover::before {
  background-color: #ffc700;
}

.special-delivery-button:hover::after {
  color: #000000;
}

.special-delivery-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.special-delivery-button:active {
  opacity: 0.3;
  outline: none;
}

/* About */

.about {
  margin-right: 90px;
  padding-right: 38px;
}

.about-button {
  width: 270px;
  height: 40px;
}

.delivery-companies-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 30px;
}

.delivery-company-item {
  position: relative;
  padding-left: 26px;
}

.delivery-company-item::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
  content: "";
}

.delivery-company-item:not(:last-child) {
  margin-bottom: 19px;
}

/* Contacts */

.contacts {
  padding-right: 19px;
}

.contacts-button {
  width: 259px;
  height: 40px;
}

.sub-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  text-decoration: underline;
}

.contacts-timetable {
  list-style-type: none;
}


/* Subscribe */

.subscribe {
  display: grid;
  grid-template-columns: 141px 600px 212px 348px 141px;
  row-gap: 140px;
  width: 100%;
  min-height: 421px;
  padding: 64px 0 56px;
  background-color: #f0f0f0;
}

.subscribe-title {
  grid-column: 2 / 3;
}

.subscribe-text {
  grid-column: 3 / 5;
}

.subscribe-form {
  display: flex;
  width: 810px;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.subscribe-input {
  flex-grow: 1;
  padding: 0 16px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #cecece;
  color: rgba(68, 68, 68, 0.5);
}

.subscribe-input:focus {
  outline: none;
  background-color: #dcdcdc;
  border-color: #c4c4c4;
}

.subscribe-input:disabled {
  opacity: 0.3;
}

.subscribe-input.error {
  border-color: #ff3d3d;
}

.subscribe-button {
  width: 253px;
  min-height: 57px;
  border: 3px solid #cecece;
}

.subscribe-button:hover {
  background-color: #dcdcdc;
}

.subscribe-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.subscribe-button:active {
  opacity: 0.3;
  outline: none;
}

.subscribe-button::after {
  display: none;
}

.subscribe-assurance {
  position: relative;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  justify-self: end;
  align-self: center;
}

.subscribe-assurance svg {
  position: absolute;
  top: 50%;
  left: -32px;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  fill: #08af00;
}

/* Footer */


.page-footer {
  display: grid;
  grid-template-columns: 140px 351px 444px 365px 140px;
  width: 100%;
  padding: 62px 0 61px;
  background-color: #444444;
  color: #ffffff;
}

.footer-logo-link {
  grid-column: 2 / 3;
  width: 145px;
  height: 36px;
  margin-bottom: 35px;
  fill: #ffc700;
}


.footer-logo-link:hover .footer-logo {
  fill: #ffe17f;
}

.footer-logo-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-logo-link:active {
  opacity: 0.3;
  outline: none;
}

.footer-address {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 62px;
}

.footer-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 33px;
  row-gap: 15px;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  align-self: center;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  margin-bottom: 62px;
}

.footer-service-link {
  position: relative;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: auto;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  align-self: center;
}

.footer-service-link.active {
  border-bottom: 6px solid transparent;
}

.footer-service-link.active::after {
  position: absolute;
  bottom: -4px;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  content: "";
}

.footer-service-link:hover {
  color: #ffc700;
}

.footer-service-link.active:hover::after {
  background-color: #ffc700;
}

.footer-service-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-service-link:active {
  color: #ffc700;
  opacity: 0.3;
  outline: none;
}

.footer-service-link.active:active::after {
  background-color: #ffc700;
  opacity: 0.3;
}

.footer-socials {
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template-columns: repeat(auto-fit, 40px);
  column-gap: 15px;
  row-gap: 10px;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  min-width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-social-link:hover {
  background-color: #ffc700;
}

.footer-social-link:focus {
  outline: none;
}

.footer-social-link:focus::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  transform: translate(-50%, -50%);
  border: 2px solid #af4fff;
  content: "";
}

.footer-social-link:active .footer-social-icon {
  opacity: 0.3;
}

.footer-social-icon {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.twitter-icon {
  background-image: url("../img/twitter.svg");
}

.instagram-icon {
  background-image: url("../img/instagram.svg");
}

.facebook-icon {
  background-image: url("../img/facebook.svg");
}

.footer-phone {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  justify-self: end;
  font-size: 16px;
  line-height: 20px;
  align-self: center;
  margin-bottom: 62px;
}

.htmlacademy-link {
  position: relative;
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  justify-self: end;
  display: flex;
  align-items: center;
}

.htmlacademy-logo {
  width: 115px;
  height: 33px;
  fill: #ffc700;
}

.htmlacademy-link::before {
  position: absolute;
  top: 50%;
  left: -1045px;
  transform: translateY(-50%);
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  content: "";
}

/* Catalog header */
.catalog-title {
  margin: 0 auto 16px;
  padding: 0;
  width: 1040px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 35px;
  padding: 0;
  width: 1040px;
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 36px;
}

.breadcrumbs-link {
  position: relative;
  font-size: 16px;
  line-height: normal;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-link:not([href=""]):hover {
  opacity: 0.6;
}

.breadcrumbs-link:not([href=""]):focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.breadcrumbs-link:not([href=""]):active {
  opacity: 0.3;
  outline: none;
}

.breadcrumbs-item:not(:last-child) a::after {
  position: absolute;
  top: 50%;
  right: -20px;
  display: block;
  width: 4px;
  height: 7px;
  transform: translateY(-50%);
  background-image: url("../img/catalog/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  content: "";
  opacity: 0.2;
}


/* Catalog header */

.catalog-container {
  display: grid;
  grid-template-columns: 1fr 320px 840px 1fr;
  width: 100%;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.catalog-container-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  color: #000000;
}


/* Catalog filter */

.catalog-filter {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 100%;
  padding: 25px 40px 25px 60px;
}

.filter-title {
  font-size: 16px;
  line-height: normal;
  margin-bottom: 60px;
}

.filter-block {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-block-title {
  display: block;
  width: 100%;
  padding-top: 12px;
  border-top: 2px solid #000000;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 20px;
}

.price-range {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #dcdcdc;
  margin-top: 10px;
  margin-bottom: 68px;
}

.price-range-bar {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  background-color: #000000;
}

.price-range-button {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #ebebeb;
  cursor: pointer;
}

.price-range-button:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.price-range-button:focus {
  outline: none;
}

.price-range-button:focus::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translate(-50%, -50%);
  border: 2px solid #af4fff;
  content: "";
}

.price-range-button:active {
  outline: none;
  background-color: #000000;
}

.price-range-button:active::after {
  display: none;
}

.range-button-min,
.price-input-block:first-of-type {
  left: 0;
  transform: translate(-50%, -50%);
}

.range-button-max,
.price-input-block:last-of-type {
  right: 0;
  transform: translate(50%, -50%);
}

.price-input-block {
  position: absolute;
  top: 33px;
  display: flex;
  font-size: 15px;
  line-height: normal;
  max-width: 75px;
  color: rgba(0, 0, 0, 0.3);
}

.price-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.price-input {
  display: block;
  width: min-content;
  min-width: 30px;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  border: none;
  background-color: transparent;
  appearance: textfield;
  font: inherit;
  color: inherit;
}

.price-input::-webkit-inner-spin-button,
.price-input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.colors-list,
.bluetooth-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 35px;
}

.label-container {
  position: relative;
  padding-left: 36px;
  margin-bottom: 20px;
  cursor: pointer;
}

.color-label {
  margin-bottom: 17px;
}

.checkbox-mark,
.radio-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.input-control:checked + .checkbox-mark {
  background-image: url("../img/catalog/ok-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-color: #000000;
}

.radio-mark {
  border-radius: 50%;
}

.input-control:checked + .radio-mark {
  border-color: #000000;
}

.input-control:checked + .radio-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  content: "";
}

.input-control:hover ~ span {
  opacity: 0.6;
}

.input-control:focus + .radio-mark {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.input-control:focus + .checkbox-mark::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translate(-50%, -50%);
  border: 2px solid #af4fff;
  content: "";
}

.input-control:active ~ span {
  outline: none;
  opacity: 0.3;
}

.input-control:disabled ~ span {
  opacity: 0.1;
}

.filter-submit-button {
  width: 100%;
  min-height: 40px;
}

/* Catalog sorting */

.catalog-sorting {
  grid-column: 3 / 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 70px;
  padding: 20px 40px;
}

.sorting-control {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 158px;
  min-height: 43px;
  border: none;
  background-color: transparent;
  background-image: url("../img/catalog/dropdown.svg");
  background-repeat: no-repeat;
  background-position: top 50% right 10px;
  font: inherit;
}

.sorting-control:hover {
  opacity: 0.6;
}

.sorting-control:focus {
  outline: 2px solid #af4fff;
}

.sorting-control:active {
  opacity: 0.3;
  outline: none;
}

.sorting-direction {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.direction-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.direction-button:hover svg {
  fill: rgba(0, 0, 0, 0.5);
}

.direction-button:focus {
  outline: 2px solid #af4fff;
}

.direction-button:active {
  outline: none;
}

.direction-button:active svg,
.direction-button.active svg {
  fill: #000000;
}

.down-direction {
  transform: rotate(180deg);
}

.direction-icon {
  fill: rgba(0, 0, 0, 0.2);
}

/* Catalog list */

.products {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  width: 100%;
  padding: 70px 40px 44px 40px;
  background-color: #ffffff;
}

.products-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
  width: 100%;
}

.product-link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  line-height: 20px;
}

.product-image {
  margin-bottom: 32px;
}

.product-image-mask {
  display: none;
}

.product-link:hover .product-button {
  width: 240px;
  min-height: 40px;
}

.product-link:hover .product-image-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
  border: 1px solid #000000;
}

.product-title {
  width: 226px;
  font: inherit;
  font-weight: 700;
  color: #000000;
}

.product-price {
  font: inherit;
  color: #444444;
}

/* Pagination */

.pagination {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  width: 100%;
  padding: 0 40px 78px;
  background-color: #ffffff;
}

.load-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 55px;
  margin-bottom: 44px;
  background-color: transparent;
  border: 3px solid #e5e5e5;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}

.load-more-button:hover {
  border: 3px solid #000000;
}

.load-more-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.load-more-button:active {
  border: 3px solid #000000;
  outline: none;
  opacity: 0.3;
}

.load-more-button:disabled {
  opacity: 0.3;
}

.pagination-controls {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  column-gap: 70px;
  width: 100%;
  min-height: 71px;
  background-color: #ebebeb;
  appearance: none;
}

.pagination-pages {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
}

.pagination-page.current-page,
.pagination-page:hover {
  color: #444444;
}

.pagination-page:focus {
  outline: 2px solid #af4fff;
}

.pagination-page:active {
  outline: none;
  opacity: 0.1;
}


.pagination-previous,
.pagination-next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 71px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pagination-previous:hover,
.pagination-next:hover {
  background-color: #dcdcdc;
}

.pagination-previous:focus,
.pagination-next:focus {
  background-color: #f0f0f0;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-previous:active,
.pagination-next:active {
  outline: none;
  background-color: #dcdcdc;
  opacity: 0.3;
}

.pagination-next {
  grid-column: 3 / 4;
}

/* MODALS */
.modal {
  display: none;
}

.modal.active {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  background-color: rgba(240, 240, 240, 0.9);
  padding-top: 100px;
}

.modal-container {
  width: 920px;
  min-height: 568px;
  margin: 0 auto;
  border: 10px solid #000000;
  background-color: #ffffff;
}

.modal-delivery-form {
  display: grid;
  grid-template-columns: 360px 1fr 180px;
  column-gap: 40px;
  row-gap: 42px;
  width: 100%;
  height: 100%;
  padding: 72px 80px;
}

.modal-delivery-title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 0;
}

.modal-close-button {
  position: relative;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
  justify-self: right;
  align-self: center;
  cursor: pointer;
}

.modal-close-button::before,
.modal-close-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 3px;
  background-color: #000000;
  content: "";
}

.modal-close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-close-button:active {
  opacity: 0.3;
  outline: none;
}

.delivery-form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.delivery-form-label-text {
  position: relative;
  margin-bottom: 14px;
  font-style: 18px;
  line-height: 20px;
  letter-spacing: -0.02;
  font-weight: 700;
  color: #000000;
}

.delivery-form-input {
  width: 100%;
  height: 60px;
  padding: 20px;
  background-color: #f0f0f0;
  background-position: top 50% right 24px;
  background-repeat: no-repeat;
  color: #000000;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.delivery-form-input:not(:placeholder-shown) {
  border: none;
  outline: none;
}

.delivery-form-input:placeholder-shown {
  color: rgba(0, 0, 0, 0.3);
}


.delivery-form-input:placeholder-shown:hover {
  color: rgba(0, 0, 0, 0.3);
  background-color: #dcdcdc;
}

.delivery-form-input:placeholder-shown:focus {
  color: rgba(0, 0, 0, 0.3);
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.delivery-form-input:placeholder-shown:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: #dcdcdc;
  opacity: 0.3;
}

.delivery-name-input {
  background-image: url("../img/modal/username.svg");
  padding-right: 59px;
}

.delivery-email-input {
  background-image: url("../img/modal/envelope.svg");
  padding-right: 59px;
}

.email-label {
  grid-column: 2 / 4;
}

.description-label {
  grid-column: 1 / 3;
}

.delivery-form-error {
  display: none;
}

.delivery-form-label.error > .delivery-form-error {
  display: inline;
  font-size: 14px;
  color: #ff3d3d;
}

.delivery-form-label.error > .delivery-form-input {
  border: 2px solid #ff3d3d;
}

.delivery-quantity-input {
  position: relative;
  appearance: text-field;
  padding: 20px 60px;
  text-align: center;
}

.delivery-quantity-input::-webkit-inner-spin-button,
.delivery-quantity-input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.delivery-form-info-tooltip {
  display: none;
}

.delivery-form-info-icon:hover + .delivery-form-info-tooltip {
  position: absolute;
  top: 33px;
  left: -20px;
  display: block;
  width: 200px;
  padding: 19px;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  z-index: 11;
}

.delivery-form-info-tooltip::before {
  position: absolute;
  top: 0;
  right: 38.6px;
  width: 9.2px;
  height: 9.2px;
  transform: translateY(-50%) rotate(45deg);
  background-color: #000000;
  content: "";
  z-index: 11;
}

.delivery-quantity-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.delivery-quantity-up,
.delivery-quantity-down {
  position: relative;
  width: 60px;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.delivery-quantity-up:hover,
.delivery-quantity-down:hover {
  opacity: 0.6;
}

.delivery-quantity-up:focus,
.delivery-quantity-down:focus {
  outline: 2px solid #af4fff;
}

.delivery-quantity-up:active,
.delivery-quantity-down:active {
  opacity: 0.3;
  outline: none;
}

.delivery-quantity-up::before,
.delivery-quantity-up::after,
.delivery-quantity-down::after {
  display: flex;
  margin: auto;
  width: 16px;
  height: 2.5px;
  background-color: #000000;
  content: "";
}

.delivery-quantity-up::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  margin: 0;
}

.delivery-form-info-icon {
  position: absolute;
  top: 50%;
  right: -34px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  margin-left: 8px;
  background-color: #ffe17f;
  background-image: url("../img/modal/info.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.delivery-form-submit {
  width: 200px;
  height: 40px;
  justify-self: start;
}

/* CART POPUP */

.cart-popup {
  display: none;
}

.cart-popup.active {
  position: absolute;
  top: 40px;
  right: -77px;
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 216px;
  padding: 20px 0;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  z-index: 10;
}

.cart-popup::before {
  position: absolute;
  top: 0;
  right: 50%;
  width: 9.2px;
  height: 9.2px;
  transform: translate(50%, -50%) rotate(45deg);
  background-color: #000000;
  content: "";
  z-index: 11;
}

.cart-popup-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 415px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
}

.cart-popup-item {
  position: relative;
  display: flex;
  width: 100%;
  padding: 20px;
}

.cart-popup-link {
  display: flex;
  margin-right: auto;
  margin-bottom: 23px;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

.cart-popup-link:hover {
  opacity: 0.6;
}

.cart-popup-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-popup-link:active {
  opacity: 0.3;
  outline: none;
}

.cart-popup-img {
  width: 39px;
  height: 43px;
  margin-right: 23px;
}

.cart-popup-product {
  width: min-content;
  margin-right: 20px;
}

.product-remove-btn {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: none;
}

.product-remove-btn::before,
.product-remove-btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 1px;
  background-color: #ffffff;
  content: "";
}

.product-remove-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.product-remove-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}


.product-remove-btn:hover {
  opacity: 0.6;
}

.product-remove-btn:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.product-remove-btn:active {
  opacity: 0.3;
  outline: none;
}

.cart-status-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 44px;
  margin: 0;
  padding: 0 20px;
  background-color: #1a1a1a;
  margin-bottom: 20px;
}

.cart-status-number {
  font-weight: 400;
}

.open-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  min-height: 50px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.open-cart-button:not(.is-disabled):hover {
  background-color: #ffe17f;
  color: #000000;
}

.open-cart-button:not(.is-disabled):focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.open-cart-button:not(.is-disabled):active {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.open-cart-button.is-disabled {
  color: rgba(0, 0, 0, 0.3);
  cursor: auto;
}

